# Copia este fichero a .env y rellena los valores

# Token del bot de Telegram (obtenlo de @BotFather)
TELEGRAM_TOKEN=8116661535:AAFEOSo5uoizPOPp1qryUuQlNnqh_C9k664

# Tu chat ID personal de Telegram (obtenlo de @userinfobot)
TELEGRAM_CHAT_ID=465718440

# URL de PostgreSQL (Railway te la da automáticamente como $DATABASE_URL)
DATABASE_URL=postgresql://user:password@host:5432/dbname
